<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muscle Target</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

    <!-- Header Section -->
    <section class="nav-container">
        <%- include("./partials/nav.ejs") %>
    </section>

    <!-- SVG interative muscle diagram -->
    <section class="diagram-container">
        <%- include("./partials/diagram_svg.ejs") %>
    </section>

    <!-- List all exercises for targeted muscle-group -->
    <section class="exercises-container">
        <%- include("./partials/workout_cards.ejs") %>
    </section>

    <script src="/js/script.js"></script>

    <!-- Change color of active muscle-group -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const targetMuscle = "<%= target %>"; // Get target from server-side
    
            if (targetMuscle) {
                const muscleGroup = document.querySelector(`.muscle-group[data-value="${targetMuscle}"]`);
                const navMuscleGroup = document.querySelector(`a[data-value="${targetMuscle}"]`);
                if (muscleGroup) {
                    muscleGroup.querySelectorAll("path").forEach(path => {
                        path.style.fill = "rgb(0, 255, 0)";
                    });
                    navMuscleGroup.querySelectorAll("li").forEach(li => {
                        li.style.color = "rgb(0, 255, 0)";
                    })
                }
            }
        });
    </script>
    
</body>
</html>
