:root{
    --primary-color:  rgb(255, 107, 124);
    --primary-color-transparent:  rgb(234, 95, 111, .4);

    --secondary-color: rgb(253, 61, 96);
    --secondary-color-transparent: rgb(255, 0, 111, .4);

    --bg-color: rgb(56, 56, 56);
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: white;
    font-family: sans-serif;
}

/* ------------ */
/* Nav Section */
.nav-container{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-container > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 60px;
}
.nav-container > nav > a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:'Courier New', Courier, monospace
}
    /* Menu Icon */
#menu-icon{ 
    display: inline-block;
    cursor: pointer;
}
#menu-icon .bar{
    width: 35px;
    height: 3px;
    margin: 8px 0;
    background-color: white;
    transition: all .25s ease-in-out;
}
#menu-icon:hover .bar{
    background-color: var(--primary-color);
}
#menu-icon .bar-transition-1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: var(--primary-color);
}
#menu-icon .bar-transition-2 {
    width: 0;
}
#menu-icon .bar-transition-3{
    transform: translate(0, -11px) rotate(45deg);
    background-color: var(--primary-color);
}

    /* Muscle Links */
#muscle-navs{
    position: absolute;
    overflow: hidden;
    top: 60px;
    right: 20px;
    opacity: 0;
    height: 0;
    width: 300px;
    transition: height 1s ease-in, opacity 2s ease-in-out;
}
#muscle-navs.active-nav{
    opacity: 1;
    overflow: auto;
    height: 100vh;
}
#muscle-navs > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}
#muscle-navs a{
    color: white;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 0 8px 0;
    font-size: 1.5em;
    background-color: var(--bg-color);
    transition: all .25s;
}
#muscle-navs a:hover{
    color: var(--primary-color);
    transform: translateX(-20px);
}


/* ------------ */
/* SVG Container */
.diagram-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ------------ */
/* Exercise Cards */
.exercises-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 93%;
}
.exercise-card{
    display: grid;
    grid-template-rows: .25fr 1fr;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    border: .5px solid black;
    box-shadow: 5px 10px 40px -5px black;
    transition: all .2s ease-in-out;
}
.exercise-card:hover{
    translate: 0 2px;
    border: 1px solid var(--primary-color-transparent);
    box-shadow: 5px 10px 30px var(--secondary-color);
}
.exercise-card > div:first-child, h3, hr, h4, h5{
    display: inline-block;
}
.exercise-card > div:first-child{
    padding-left: 20px;
    text-transform: capitalize;
    border-bottom: .25px solid rgba(17, 17, 17, 0.575);
}
h2{
    text-transform: capitalize;
}
.exercise-card > div:first-child > h3{
    padding-right: 20px;
}
.exercise-card > div:first-child > h4, h5{
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
}
.exercise-card > div:first-child > h4{
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color-transparent);
    color: var(--secondary-color);
}
.exercise-card > div:first-child > h5{
    border: .5px solid var(--primary-color);
    background-color: var(--primary-color-transparent);
    color: var(--primary-color);
}
.exercise-card > div:last-child{
    display: flex;
    align-items: center;
}

img{
    width: 200px;
    max-height: 250px;
    border-radius: 0 0 0 5px;
}
ul{
    list-style-type: none;
    padding: 0 10px;
    margin: 5px 0 0 0;
}



/* -------------- */
/* SVG */
 
.muscle-group{
    /* fill: rgb(237, 149, 163); */
    fill: var(--primary-color);
    cursor: pointer;
}
.muscle-group:hover{
    fill: var(--secondary-color);
    transition: all .2s ease-in-out;
}